<div class="container">

  <h1>Bloggy Blog Blog</h1>

    <div id='blogbuttons'>
      <a class="btn" href="/posts">View All Posts</a>
      <a class="btn" href="/posts/create">Create New Post</a>
    </div>

</div>
