<div class="container">

  <h1>Welcome to Your Blog!</h1>

    <div id='blogbuttons'>
      <a class="btn" href="/posts">View All Posts</a>
      <a class="btn" href="/posts/new">Write New Post</a>
    </div>

</div>
