
<div class="container">
  <a class="btn" href="/">Home</a><br>

  <h1>New Post</h1>
  <form method="post" action="/posts" id="blogpost">
    <input type="text" name="tile" placeholder="Post Title"><br><br>
    <textarea name="body" placeholder="Write your post!"></textarea>
    <br><br>
    <input type="submit" value="Post it!">
  </form>
</div>
