
<div class="container">

  <a class="btn" href="/">Home</a>
  <br><br>
  All posts:
  <% if @posts.length != 0%>
    <% @posts.reverse.each do |post| %>
      <h3><a href="/posts/<%=post.id%>"><%= post.title %></h3></a>
      <%= post.body %>
      <h6>Posted at: <%= post.created_at %></h6>
    <% end %>
  <% else %>
     You don't have any posts! Get crakin'!
  <% end %>
</div>
