
<div class="container">

  <a class="btn" href="/">Home</a>
  <br><br>
  All posts:

  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <%= post.body %>
    <h6>Posted at: <%= post.created_at %></h6>
    <% end %>
</div>
